.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(0.8vw, 16px);
}
.cart-items-item{
    margin: 10px 0px;
    color: black !important;
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    margin: 10px 0;
}

.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea !important;
    border-radius: 4px;
}
.cart-promocode-input input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button{
   width: max(10vw, 150px);
   padding: 12px 5px;
   background-color: black;
   border: none;
   color: white;
   border-radius: 4px;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empty-cart img{
    width: 500px;
}
.empty-cart h2{
    font-size: 30px;
}
.empty-cart p{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 30%;
    font-size: 17px;
}

@media (max-width: 750px) {
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
    .empty-cart img{
        width: 320px;
    }
    .empty-cart p{
        width: 100%;
    }
}