.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: max(2vw, 20px);
    text-align: center;
    font-weight: 500;
}

.app-download-platform {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.app-download-platform img{
    width: max(30vw, 120px);
    max-width: 180px;
    transition: .5s;
    cursor: pointer;
}
.app-download-platform img:hover{
    transform: scale(1.05);
}