.login {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: grid;
}

.login-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fade-in .5s;
}

.login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-title img {
    width: 16px;
    cursor: pointer;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.login-inputs input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    font-size: 15px;
}

.login-container button {
    border: none;
    padding: 10px;
    background-color: tomato;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.login-condition {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.login-condition input{
    transform: scale(1.1);
    cursor: pointer;
}
.password {
    position: relative;
}

.login-inputs p {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
}

.login p {

    font-size: 15px;
}

.login p span {
    margin-left: 8px;
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}