.order-list{
    width: 75vw;
}
.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0;
    font-size: 14px;
    color: #505050;
}

.order-item-food , .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 20px;
    margin-bottom: 10px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}

@media (max-width: 1000px) {
    .order-list{
        width: 75vw;
    }
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}