.my-orders{
    margin: 50px 0 45vh 0;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    border: 1px solid tomato;
    color: #454545;
}
.my-orders-order img{
    width: 50px;

}
.my-orders-order p span{
    color: tomato;
}

.my-orders-order p b{
    font-weight: 500;
    color: tomato;
}
.my-orders-order button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffe1e1;
    color: #454545;
}


.my-order-signout{
    margin: 20vh 0;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}
.my-order-signout p{
    font-size: 16px;
}
@media (max-width:900px) {
    .my-orders{
        margin: 50px 0 10vh 0;
    }
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
}