@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    width: 80%;
    margin: auto;  
}
.loader-wrapper{
    margin: 20vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 7px solid #bdbdbd;
    border-right-color: tomato ;
    animation: spin 2s infinite ;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:500px) {
    .app {
        width: 95%;
        margin: auto;
    }
}