.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.location{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}
.location h6{
    font-size: 50px;
    opacity: 0.3;
}
.location .error{
    font-size: 20px;
}
.location-error{
    font-size: 20px;
    width: 50%;
    text-align: center;
}
.location .sol{
    width: 50%;
    text-align: center;
   
}

@media (max-width:500px) {
    .food-display-list {
        
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        
        gap: 10px;
        row-gap: 10px;
    }
    .location .sol{
        width: 100%;
        text-align: left;
       
    }
    .location-error{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}