.list-table-format {
    color: black;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    width: 75vw;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 16px;
    text-align: center;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format .food-image {
    width: 100px;
    border-radius:5px ;
    
}

.vegnonveg {
    width: 20px !important;
}

.opacity {
    opacity: 0.5;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover{
    transform: scale(1.1);
    transition: .1s ease-in-out;

}
.edit-icon{
    width: 25px;
}
@media (max-width:600px) {
    .list-table-format{
        grid-template-columns:  1fr 3fr 1fr 0.4fr ;
        gap: 15px;
        border: none;
    }
    .list-table-format.title{
        display: none;
    }
    .list-table-format .food-image {
        width: 50px;        
    }
    .hide{
        display: none;
    }
    .edit-icon{
        width: 15px;
    }
}